<h3>New</h3>
<p>Change your password</p>
{{#abstract-form text='Submit' submit=(action "submit")}}
	{{input id='test-password-form' 
  		value=model.password
  		type="text" placeholder="new password"}}
  {{input id='test-confirm-form' 
  		value=model.passwordConfirmation
  		type="text" placeholder="type your new password again"}}
{{/abstract-form}}
