{{#abstract-form model=model text='login' submit=(route-action 'login')}}
	<h5>Login</h5>
	{{input label='email' type="text" value=model.email validate=true}}
	{{input label='password' type="password" value=model.password validate=true}}
{{/abstract-form}}
